body {
    background-color: lightblue;
}

.image-container{
    position: relative;
    width: 1250px;
    height: 750px;
}

.bgImg{
    width: 1250px;
    height: 750px;
}
.button {
    position: absolute; /* set button to an absolute position */
    transform: translate(-50%, -50%); /* center the button */
    z-index: 2; /* set a higher z-index than the image */
    background-color: #007bff; /* set your desired background color */
    color: #fff; /* set your desired text color */
    border: none; /* remove button border */
    padding: 10px 20px; /* set your desired padding */
    cursor: pointer; /* change mouse cursor on hover */
    width: 200px;
  }

.log{
    top: 40%; /* adjust the top position of the button */
    left: 50%; /* adjust the left position of the button */
}
.sign{
    
    top: 50%; /* adjust the top position of the button */
    left: 50%; /* adjust the left position of the button */
}