body {
    background-color: lightblue;
}

.image-container{
    position: relative;
    width: 1250px;
    height: 750px;
}

.bgImg{
    width: 1250px;
    height: 750px;
    top: 100px;
}
.button {
    position: absolute; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    background-color: rgba(0,0,0,0.1); 
    border-width: 3px; 
    border-color: black;
    padding: 10px 20px; 
    cursor: pointer; 
    width: 200px;
    font-size: 20px; 
  }

.log{
    top: 40%; 
    left: 50%; 
}
.sign{
    
    top: 50%;
    left: 50%;